body {
  
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg');
    background-size: cover;
  background-position: 50%;
    height: 100vh;
    width: 100vw;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
   
  }
  .cover-box{
      height:35rem;
      width: 48vw;
      display: flex;
      flex-direction:row;
      background-color: rgb(82, 151, 211);
      margin-top: 6rem;
  
     
  }
  .arrow{
    display: none;
  }
  .box{
    width: 20vw;
  }
  .searchbar{
  
    margin-left: 20px;
  }
  .form{
    border: none;
    margin-top:10px;
    padding-top: 10px;

  }
  .form .inputt{
    border: none;
    border-radius: 5px;
    width: 16vw;
    background-color: white;
    height: 40px;
    padding: 10px 15px;
    font-size: 0.9rem;
    position: absolute;
  }
  
  .form input::placeholder{
    font-size: 1rem;
  }
  .search-btn{
    background: none;
    border: none;

   
  }
  .search-btn i{
    color:rgb(54, 132, 192);
    font-size: 1.3rem;
    font-weight: bold;
    position: relative;
    left:210px;
    top:10px
  }
  .icon-container {
    width: 40px;
    height: 40px;
    position: relative;

  }
  
  img {
    height: 100%;
    width: 100%;
    
     
    border-radius: 50%;
  }
  
  .status-circle {
  
    bottom: 0;
    right: 0;
    position: absolute;
  }
  .online-user{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
    border: 2px solid white;
  }
  .otherusers-box{
    background-color: white;
    height: 30rem;
    overflow: auto;
    padding: 10px 10px;
    margin-top: 30px;
    border-radius: 5px;
    width: 16vw;
  }

  .otherusers-box::-webkit-scrollbar{
    display: none;
  }
  .profile-container{
    height: 60px;
    padding: 10px 10px;
   
    border-radius: 5px;
    margin-top: 5px;
  }
  .status-circle span{
    position: absolute;
    color:black;
   font-weight: 600;
    left:30px;
     bottom: 8px;
  font-size: 1rem;
  white-space: nowrap;
  }
  .profile-container:hover{
    background-color:rgb(54, 132, 192);
  }
  .bt{
    background-color:rgb(54, 132, 192);
  }
  
  .message-profile{
    margin-top: 20px;
    background-color: white;
    height:33rem;
    width: 26vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 5px;
  }
  .pc{
    margin: 0 10px;
    padding-left: 30px;
    background-color:rgb(54, 132, 192);
    
  }
  .st{
    bottom: 0;
    right: 0;
    position: absolute;
  }
  .st span{
    font-size: 1.3rem;
    color: white;
    bottom: 5px;
    position: absolute;
  
   font-weight: 600;
    left:30px;
     bottom: 7px;
  
  white-space: nowrap;
  }
  .chat-input{
    position: relative;
    bottom: 9rem;
  }
  .chat-input .chat-in{
 border:1px solid rgb(173, 215, 247);
 width: 22rem;
 padding: 10px 10px;
 font-size: 1rem;
 border-radius: 5px;
 margin: 0 10px;

  }
  .send-icon{
    color:rgb(108, 177, 241);
    font-size: 2rem;
    position: absolute;
    right: 20px;
    top:5px;
    z-index: 100;
   

  }
  .message-area{
    padding-top: 10px;
    overflow: auto;
    -ms-overflow-style:none;
    height: 25rem;
   
    padding-bottom: 15px;
    
  }
  .message-area::-webkit-scrollbar{
    display: none;
  }

  .img{
    border-radius: 2px;
    margin-top: 10px;
    height:33rem;
    width: 27vw;
  }
  .div-img{
    position: relative;
    text-align: center;
  }
  .div-img h1{
    position: absolute;
    font-size: 2.6rem;
    margin-left: 20px;
   
    z-index: 10;
    font-weight: bold;
    top:10px;
  }
  .div-img h2{
    position: absolute;
    font-size: 2.5rem;
    margin-left: 20px;
   text-align: left;
    z-index: 10;
    font-weight: bold;
    top:130px;
    margin-top: 120px;
  }
  .logout{
   position: fixed;
    align-items: center;
    display: flex;
    justify-content: center;
    top:40.3rem;

  }
  .logout .logout-btn{
    background-color:rgb(82, 151, 211);
    color:white;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    z-index: 100;
  }
 
 

@media (max-width: 480px){
  .cover-box{
    width: 100vw;
   height: 100vh;
    margin-top: 0;
    flex-direction: column;
    overflow: auto;
   
  }
.arrow{
  font-size: 2rem;
  left: -20px;
  position: relative;
  cursor: pointer;
  display: block;
}
  .mobile-view{
    margin-left: 20px;
    margin-top: -33px;
    
  } 
body{
  height:100vh;
}
  .otherusers-box{
    width: 22em;
    position: absolute;
    top:80px;
    z-index: 10;
    }

  
  .form .inputt{
width: 20rem;
margin-top: 30px;
  }
  .search-btn i{
  margin-left: 78px;
  margin-top:26px;
  }
  .img{
    width: 22rem;
    margin-left: 80px;
    margin-top: -30px;
    position: relative;
    
  }
  .div-img h1{
    margin-left: 40px;
  }
  .div-img h2{
    margin-left: 40px;
  }
  .logout{
    position:fixed;
    top:0;
    right: 10px;
    margin-top: 10px;
  }
  .message-profile{
    width: 22rem;
    position: absolute;
    margin-left: 20px;
    margin-top: 100px;
   z-index: 100;
   display: none; 
  }
  .chat-input{
    position: absolute;
  bottom:20px;
  }
  .chat-input .chat-in{
   
  width: 20rem;

  margin-left:-10px;

  }
form{
border:none;
}
}
 
