
body {
  
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg');
  background-size: cover;
background-position: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h1{
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
 
}
form{
  border:  2px solid white;
  border-radius: 5px;
  margin-top: 18vh;
  
  
}
.container{
  background:transparent;
  width: 28vw;
  color: white;

 

}
.input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
 padding:0 38px;
}
.input-container input{
outline: none;
background-color:rgba(255, 255, 255, 0.579);
cursor: pointer;
border-radius: 5px;
border: none;
width: 22rem;
padding: 10px 10px;
color: black;

}
.input-container  input::placeholder{
  color:black;
  font-size: 0.9rem;
}
.input-container span{
  font-size: 1.3rem;
  font-weight: 400;
}

a{
  color: white;
  text-decoration: none;

}
p:hover{
  text-decoration: underline;
}

.input-container{
  width:20rem;
}
.gender{
  font-size: 1.3rem;
  font-weight: 400;
  padding: 35px;
}
.radio-btn{
  display: flex;
  align-items: center;
 padding: 5px 35px;
}
.radio-btn input{
  margin-left: 10px;
  margin-bottom: 0;
}
.text{
  display: flex;
  padding:0px 35px;
  flex-direction: column;
  justify-content: center;
  

}
.text p{
  font-size: 0.8rem;
  margin-top: 0;
  
}
.bttn{
  padding: 10px 40px;
  width: 100%;
  background:transparent;
  border: none;
  margin-bottom: 20px;
  
}
.bttn .button{
  width:22rem;
  padding:10px ;
  border: none;
  
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 600;
  background-color:#0affff;
  color:black;
  box-shadow: 0 0 1rem #0affff;

}
.icon{
  position: absolute;
  font-size: 2rem;
  color: black;
  z-index: 100;
  top: 10px;
}
@media (max-width: 480px) {
  .container{
  position:absolute;
  left: 0;
  top:50px;
  }
  .input-container input{
    width: 20rem;
  }
  .bttn .button{
    width: 20rem;
  }
  p{
    white-space: nowrap;
  }
  h1{
    text-align: center;
    margin-left: 120px;
    margin-bottom: 10px;
    white-space: nowrap;
  }
  form{
    width: 23.5rem;
  
    top: 0;
    height:80vh;
    padding-top:-10px;
    margin-top:10px;

    
    margin-left: 10px;
  }
}
